@model IEnumerable<VideoViewModel>
@{
    ViewBag.Title = "Index";
}
@foreach (var video in Model)
{
    @await Html.PartialAsync("_Video", video);
}
<div>
    <a asp-action="Create">Create</a>
</div>